/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
} */
body {
	background: linear-gradient(-30deg, #dfe0e3, #caccd1, #b5b8bf);
	background-size: 400% 400%;
  animation: gradient 30s ease;
  font-family: sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main {
  position: relative;
  z-index: -2;
  height: 1500px;
 

  
}
/* body {
  background: linear-gradient(120deg, #a7a7a7, #cfcfcf, #dad7d7);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  -o-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}

.acordian {
    background: linear-gradient(120deg, #a7a7a7, #cfcfcf, #dad7d7);
    background-size: 600% 600%;
  
    -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    -o-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 78%}
    50%{background-position:100% 23%}
    100%{background-position:0% 78%}
  } */



html,
body {
 height: 100%;
 position: relative;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



/* color buttons for login sign up page */
.signup {
  background-color: #C8171E !important;
  border: #C8171E !important;
}

.login {
  background-color: #C8171E !important;
  border: #C8171E !important;
}

.logout {
  background-color: #C8171E !important;
  border: #C8171E !important;
}
/* .footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
} */

.medrow{
  justify-content: center !important;
  padding:0% !important;
  width: 100% !important;
  margin-left: 0px !important;
}

.medbtn{
  background-color: #C8171E !important;
  border-color: #C8171E !important;
  color: white;

}

.acordian{
  border: none;
}

.acordianbtn{
  color: white;
}