.cardColorGood {
background: radial-gradient(circle, #1a6e27, #083d10, #041c07 );

}

.cardColorWarning{
    background: radial-gradient(circle, #c4ba1d, #756f10, #1c1c07 );
}

.cardColorDanger{
    background: radial-gradient(circle, #c41d1d, #781212, #330808 );
}
.textColor{
    color: seashell;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}
.reference{
/* height: 200px; */
background: radial-gradient(circle, #1e8eb0, #145b70, #0a2d38 );
}